* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
.form row{
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
  position: relative;
}
